@import 'var.scss';


.btn-blue{
	@include button(32px, auto, white, $back-button);
	@include transit();
	padding: 0 20px;
	letter-spacing: .3px;
	border-radius: 4px;
	font-family: "Roboto L";
	&:hover{
		color: white;
	}
}
.btn-disabled{
	background: $border-color;
	color: $gray-text;
	border: 0;
}
.btn-copy{
	background: white;
	border: 1px solid $blue-text;
}
.text-right{
	text-align: right;
}
