@import 'var.scss';

.radio-nav:checked + label{
	background: #cce8f4;
}
.right-search__input{
	border: 0;
	border-radius: 20px 0 0 20px;
	background: #f8f8f8;
}
.right-search__button-wrapper{
	background: #f8f8f8;
	border-left: 0;
	padding: 5px;
	border-radius: 0 20px 20px 0;
}
.right-search__button{
	background: transparent;
	border: none;
	outline: none;
}
.stylish-input-group{
	margin-right: 10px;
}