@import "var.scss";

.header{
	min-height: 80px;
	padding: 20px 30px;
	margin: 0 -15px;
	border-bottom: 1px solid $border-color;
	&__contact{
		color: $gray-text;
	}
	&-card.toggled{
		position: absolute;
		top: -10px;
		right: 5px;
		padding: 10px 10px 10px 30px;
		box-shadow: 1px 1px 5px gray;
		background: white;
		.card__list{
			display: block;
			&_item{
				a{
					color: $gray-text;
				}
			}
		}
	}
	&-card{
		&__trigger{
			position: relative;
			padding-right: 25px;
			background: url(../images/ico-arrow-dropdown.png) center right no-repeat;
			i{
				position: absolute;
				top: 3px;
				left: -20px;
				@include rem(font-size, 15px);
			}
		}
	}
	&__banner{
		border-bottom: 1px solid $border-color;
		background-color: $back-banner;
		line-height: 30px;
		margin-bottom: 35px;
		padding: 0 20px;
		p{
			margin-bottom: 0;
		}
	}
}
.h1-name{
	display: inline-block;
	@include font('Roboto L', 24px, normal);
	line-height: 30px;
}
.dicom-options{
	display: inline-block;
	position: relative;
	margin-left: 15px;
	width: 250px;
	&__head {
		width: 220px;
	a{
		@extend .h1-name;
		color: $gray-text !important;
		cursor: pointer;
		width: 220px;
		margin-top: -5px;

		// specialize styles
		padding: 0 !important;
		border: 0 !important;
		background: white !important;
		box-shadow: none !important;
		height: 30px !important;
		line-height: 27px !important;
		}	
	}
	&__list{
		position: absolute;
		top: 30px;
		left: 15px;
		width: 100%;
		background-color: white;
	}
}