@import "var.scss";

.sidebar-wrapper {
    z-index: 1000;
    position: absolute;
    left: 150px;
    width: 50px;
    height: 100%;
    margin-left: -150px;
    overflow: hidden;
    background: #373b3e;
    @include transit(.5s);
}

.sidebar-wrapper.toggled {
    width: 150px;
}

/* Sidebar Styles */
.sidebar-wrapper.toggled{
	.sidebar {
		&-nav{
		    width: 150px;
		    padding: 0;
		    list-style: none;
		    &__item{
		    	text-indent: 15px;
			    line-height: 40px;
			    a{
			    	display: block;
				    text-decoration: none;
				    color: #999999;
				    &:hover{
				    	text-decoration: none;
					    color: #fff;
					    background: #2d3133;
				    }
				    &:active,
				    &:focus{
				    	text-decoration: none;
				    }
				    i{
				    	font-size: 15px;
				    	margin-right: 10px;
				    	@include transit();
				    }
				    span{
				    	display: inline;
				    	@include transit();
				    }
			    }
		    }
		}
		&-brand {
	    line-height: 60px;
	    padding-left: 20px;
		}
	}
	.hide-menu{
		color: $gray-text-menu;
		margin-left: 30px;
		&:hover{
			text-decoration: none;
		}
		i{
			margin-right: 10px;
			transform: none;
			font-size: 15px;
		}
		span{
			position: absolute;
			@include transit(1s);
			display: inline-block;
			margin-left: 0;
		}
	}
}


.sidebar-wrapper{
	.sidebar {
		&-nav{
	    width: 150px;
	    margin-bottom: 150px;
	    padding: 0;
	    list-style: none;
	    &__item{
	    	text-indent: 6px;
		    line-height: 40px;
		    a{
		    	display: block;
			    text-decoration: none;
			    color: #999999;
			    &:hover{
			    	text-decoration: none;
				    color: #fff;
				    background: #2d3133;
			    }
			    &:active,
			    &:focus{
			    	text-decoration: none;
			    }
			    span{
			    	display: none;
			    	@include transit();
			    }
			    i{
			    	font-size: 25px;
			    	@include transit();
			    }
		    }
	    }
		}
		&-brand {
	    line-height: 60px;
	    padding-left: 12px;
		}
	}
	.hide-menu{
		color: $gray-text-menu;
		margin-left: 15px;
		&:hover{
			text-decoration: none;
			color: white;
		}
		i{
			margin-right: 0;
			transform: rotate(180deg);
			font-size: 25px;
		}
		span{
			position: absolute;
			margin-left: 20px;
			@include transit(1s);
		}
	}
}



.aside-menu{
	font-family: "Roboto L";
	height: 100vh;
	margin-right: 0;
	padding-left: 30px;
	padding-top: 10px;
	&__item{
		margin: 10px 0;
		a{
			color: $gray-text;
		}
		&.active a{
			color: #333;
		}
	}
}
